In [8]:
import os
import sys
import matplotlib.pyplot as plt
import pandas as pd

sys.path.append('..')
from backend.DB.db import Database

In [9]:
db = Database()

In [14]:
sql = '''
SELECT topic_name, 
       AVG(sentiment) as mean_sentiment,
       MAX(sentiment) as max_sentiment,
       MIN(sentiment) as min_sentiment,
       SUM(angry) as count_angry 
FROM cooked_reviews
GROUP BY topic_name
ORDER BY mean_sentiment ASC
'''

results = db.query_sql(sql)
result_set = [{'topic': row[0], 
               'avg_sentiment': row[1],
               'max_sentiment': row[2],
               'min_sentiment': row[3],
               'angry_guests': row[4]} for row in results]
results_df = pd.DataFrame(result_set)
results_df

,topic,avg_sentiment,max_sentiment,min_sentiment,angry_guests
0,housekeeping,3.517241,5,1,2
1,hotel condition,3.793103,5,1,1
2,value,3.793103,5,1,2
3,amenities,3.931034,5,1,1
4,frontdesk service,3.965517,5,2,2

In [6]:
list(results)

[]